.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-text {
  color: #6c757d;
}

a {
  text-decoration: none;
  color: inherit;
}

.mis-pedidos-mensaje {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 2rem;
  background-color: white;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .card-img {
    height: 150px; /* Reduce la altura de la imagen en móviles */
  }

  h3 {
    font-size: 1.5rem; /* Reduce el tamaño del título en móviles */
  }

  .card-text {
    font-size: 0.9rem; /* Reduce el tamaño del texto en móviles */
  }
}
